@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul.left-links{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
ul.right-links{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
li{
    list-style: none;
    text-decoration: none;
    color: beige;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: gray;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 218, 218);
}