body{
    background-color: chocolate;
}
header{
    background-color: peachpuff;
    display: flex;
    flex: space-between;
    justify-content: space-around;
    align-items: center;
    height: 100px; 
    
}

#logo{
    color: orange;
    background-color: aliceblue;
}

ul{
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
}
li{
    display: flex;
    margin: 5px;
    background: whitesmoke;
    color: blue;
    padding: 10px;
}
